<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mod1>
            <order_placement>
                <enabled>1</enabled>
                <!-- 1 = General. Change in Stores > Configuration > Karan > Mod1. -->
                <customer_groups>1</customer_groups>
            </order_placement>
        </mod1>
    </default>
</config>
