<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Preference -->
    <preference for="Magento\Catalog\Api\Data\CategoryInterface"
                type="Karan\Mod1\Model\Category"/>
    <preference for="Karan\Mod1\Api\Data\CategoryInterface"
                type="Karan\Mod1\Model\Category"/>
    
    <type name="Karan\Mod1\Test">
        <arguments>

            <argument name="params" xsi:type="array">
                <item name="color" xsi:type="string">Blue</item>
                <item name="size" xsi:type="string">XL</item>
                <item name="brand" xsi:type="string">Nike</item>
            </argument>

            <argument name="message" xsi:type="string">
                Hello from Dependency Injection!
            </argument>

        </arguments>
    </type>
    <type name="Karan\Mod1\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">mod1</argument>

            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">
                    Karan\Mod1\Logger\Handler
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin
            name="product_sale_plugin"
            type="Karan\Mod1\Plugin\ProductPlugin"/>
        <plugin 
            name="product_price_plugin"
            type="Karan\Mod1\Plugin\ProductPricePlugin"/>
    </type>

    <type name="Magento\Theme\Block\Html\Header">
        <plugin
            name="header_plugin"
            type="Karan\Mod1\Plugin\HeaderPlugin"/>
    </type>

    <type name="Magento\Theme\Block\Html\Footer">
        <plugin
            name="footer_plugin"
            type="Karan\Mod1\Plugin\FooterPlugin"/>
    </type>

    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin
            name="breadcrumb_plugin"
            type="Karan\Mod1\Plugin\BreadcrumbsPlugin"/>
    </type>

    <type name="Magento\Catalog\Block\Product\View\Description">
        <plugin 
            name="set_description"
            type="Karan\Mod1\Plugin\DescriptionPlugin"/>
    </type>

</config>
