<?xml version="1.0"?>
<!--
/**
 * Copyright © Karan. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="karan_call_for_availability_list_product" type="Karan\CallForAvailability\Plugin\Catalog\Block\Product\ListProductPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="karan_call_for_availability_view_product" type="Karan\CallForAvailability\Plugin\Catalog\Block\Product\ViewPlugin" sortOrder="10"/>
    </type>
</config>
