<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="karan" translate="label" sortOrder="400">
            <label>Karan</label>
        </tab>
        <section id="mod1" translate="label" type="text" sortOrder="20"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Mod1</label>
            <tab>karan</tab>
            <resource>Karan_Mod1::config</resource>

            <group id="order_placement" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer Group Sales Tracking</label>

                <field id="enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable custom_order_placement Event</label>
                    <comment>Dispatch the custom event after an order is successfully placed.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="customer_groups" translate="label comment" type="multiselect" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1"
                       canRestore="1">
                    <label>Designated Customer Groups</label>
                    <comment>Only orders placed by customers in these groups fire the event and accumulate a sales total.</comment>
                    <source_model>Magento\Customer\Model\Config\Source\Group\Multiselect</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
