<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_item_set_product">
        <observer name="kunal_price_adjustment_quote_item_set_product" instance="Kunal\PriceAdjustment\Observer\QuoteItemSetProductObserver" />
    </event>
</config>
