<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Top-level custom menu in the admin sidebar -->
        <add id="Karan_Mod9::mod9"
             title="Mod9"
             translate="title"
             module="Karan_Mod9"
             sortOrder="80"
             resource="Karan_Mod9::mod9"/>

        <!-- Submenu item that opens the frontend controller -->
        <add id="Karan_Mod9::display"
             title="Display Text"
             translate="title"
             module="Karan_Mod9"
             sortOrder="10"
             parent="Karan_Mod9::mod9"
             action="mod9admin/index/index"
             resource="Karan_Mod9::display"/>
    </menu>
</config>
